@import '../../styles-ui/main.scss';

.main{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

/* ИСПОЛЬЗОВАТЬ order=0, order=1 для CenterColumn */
/* ------------------------------------------------------------------------- */
/*@media (max-width: $breakPoint4+px){
    .main{
        flex-wrap: wrap;
    }   
}*/