@import '../../styles-ui/main.scss';

.summary{
    background-color: $backgr-color-info;
    height: 10vh;
    min-height: 60px;
    padding: 10px $padding-indent 10px $padding-indent;


    &__info{
        font-size: 18px;
        white-space: nowrap;
    }
    
    &__query_search{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__group-link{
        display: flex;
    }
    
    &__page-link{
        margin-right: 10px;
        font-size: 20px;
        font-weight: 500;
    }
}
/* ------------------------------------------------------------------------- */
@media (max-width: $breakPoint0+px) {
    .summary{
        padding: 5px 8px 5px $padding-indent2;
    }
}
/* ------------------------------------------------------------------------- */
@media (max-width: $breakPoint1+px) {
    .summary{
        &__info{
            font-size: 16px;
        }
    }
}
// ----------------------------------------------------------------
@media (max-width: $breakPoint2+px) {
    .summary{
        &__page-link{
            margin-right: 10px;
            font-size: 16px;
            font-weight: 500;
        }
        &__info{
            font-size: 14px;
        }
    }
}
// ----------------------------------------------------------------
@media (max-width: $breakPoint3+px) {
    .summary{
        &__info{
            font-size: 12px;
        }
    }
}