@import '../../styles-ui/main.scss';

.book-item{
    width: 100%;
    min-height: 50px;
    border-bottom: 2px solid grey;
    cursor: pointer;
    padding: $padding-indent;

    font-family: 'Roboto', sans-serif;
    font-size: $text-font-size;

    &__subtitle{
        font-size: $subtitle-font-size;
        color: $subtitle-color;
    }

    &--selected{
        background-color: gainsboro;
        font-weight: 600;
    }
}
/* ------------------------------------------------------------------------- */
@media (max-width: $breakPoint0+px) {
    .book-item{
        padding: $padding-indent2;
    }
}
/* ------------------------------------------------------------------------- */
@media (max-width: $breakPoint1+px) {
    .book-item{
        font-size: $text-font-size1;
    }
}
/* ------------------------------------------------------------------------- */