@import '../../styles-ui/main.scss';

.search-panel{
    width: 100%;
    min-width: $min-width-left;
    height: 9vh;
    min-height: $min-height-top-info;
    background-color: $backgr-color-info;
    border-bottom: 1px solid grey;
    
    padding: 0 $padding-indent;

    display: flex;
    align-items: center;

    &__block{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__input-search{
        width: 70%;
        height: 39px;
        min-height: 39px;
        font-size: $text-font-size;

        padding: 5px;
        margin-right: 12px;
        border: none;
    }

    &__go-btn{
        height: 39px;
        min-height: 39px;
        width: 26%;
        min-width: 28px;
        font-size: $text-font-size;
        background-color: $bgcolor-btn-go;
        color: $white;
        border: none;
        cursor: pointer;
    }

    &__input-search:focus{
        outline: none;
    }

    &__go-btn:focus{
        outline: none;
    }
    &__go-btn:hover{
        outline: none;
        background-color: $primary-color;
        border: 1px solid $bgcolor-btn-go;
    }

    &__go-btn:active{
        border: none;
        box-shadow: 0 1px 2px $primary-color, 0 -1px 2px $primary-color;
    }
}
/* ------------------------------------------------------------------------- */
@media (max-width: $breakPoint0+px) {
    .search-panel{
        padding: 0 $padding-indent2;
    }
}
/* ------------------------------------------------------------------------- */
@media (max-width: $breakPoint1+px) {
    .search-panel{
        &__input-search,
        &__go-btn{
            font-size: $text-font-size1;
        }
    }
}
/* ------------------------------------------------------------------------- */
@media (max-width: $breakPoint3+px){
    .search-panel{
        &__input-search{
            padding: 3px;
        }
    }
}
/* ------------------------------------------------------------------------- */