$color-link: #0000ff;
$subtitle-color: #A9A9A9;
$backgr-color-info: #d3d3d3;
$bgcolor-btn-go: #3F50B5;
$white: #ffffff;
$primary-color: #34B2FF;

$padding-indent: 25px;
$padding-indent2: 12px;
$text-font-size: 24px;
$text-font-size1: 18px;
$subtitle-font-size: 14px;

$min-width-left: 200px;
$min-width-center: 190px;
$min-width-right: 210px;

$min-height-top-info: 100px;

$breakPoint0: 1285;
$breakPoint1: 1100;
$breakPoint2: 940;
$breakPoint3: 800;