$color-link: blue;
$subtitle-color: #A9A9A9;
$backgr-color-info: #d3d3d3;
$bgcolor-btn-go: #3F50B5;
$white: #ffffff;
$primary-color: #34B2FF;

$min-width-left: 200px;
$min-width-center: 200px;
$min-width-right: 200px;

$min-height-top-info: 100px;

$breakPoint0: 1285;
$breakPoint1: 1100;
$breakPoint2: 920;
$breakPoint3: 800;