@import '../../styles-ui/main.scss';

.user-list{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    &__li{
        list-style-type: none;
    }

    &__book{
        min-height: 50px;
        border-bottom: 2px solid grey;
        position: relative;
        padding: $padding-indent;
    }

    &__book.marked-yes{
        color: #228B22;
        background-color: #FFF8DC;
    }    

    &__subtitle{
        font-size: $subtitle-font-size;
        color: $subtitle-color;
    }

    &__book-data{
        font-family: 'Roboto', sans-serif;
    }

    &__title,
    &__author{
        font-size: $text-font-size;
    }

    &__group-actions{
        width: 100%;
        min-width: 245px;
        margin-top: 10px;
        display: flex;
    }

    &__link{
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 600;
    }
    
    &__link:not(:last-child){
        margin-right: 20px;
    }

    &__book.marked-yes .not-read{
        display: none;
    }

    .read{
        display: none;
    }

    &__book.marked-yes .read{
        color: #D2691E;
        display: inline-block;
    }
}
/* ------------------------------------------------------------------------- */
@media (max-width: $breakPoint0+px){
    .user-list{
        &__book{
            padding: $padding-indent2;
        }

        &__link{
            font-size: 16px;
        }
    }
}

/* ------------------------------------------------------------------------- */
@media (max-width: $breakPoint1+px) {
    .user-list{
        &__link{
            font-size: 14px;
        }
        
        &__title,
        &__author{
            font-size: $text-font-size1;
        }
    }
}
/* ------------------------------------------------------------------------- */
@media (max-width: $breakPoint2+px) {
    .user-list{
        &__link{
            font-size: 12px;
        }
        &__link:not(:last-child){
            margin-right: 5px;
        }
    }
}
/* ------------------------------------------------------------------------- */