@import '../../styles-ui/main.scss';

.left-column{
    width: 28%;
    min-width: $min-width-left;
    height: 100vh;
    max-height: 100vh;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
}